* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  background: #292929;
  -webkit-font-smoothing: antialiased;
}

pre {
  color: white;
}
